@use '../../variables.scss' as *;

.border {
    border-top: 0;
    border-color: $border-primary;
}

.try-it-btn {
    background-color: $primary-color;
    color: white;
}

.try-it-btn:hover {
    background-color: $primary-color-hover;
}

.sign-in-btn:hover {
    background-color: $primary-color;
    color: white;
}