@use './variables.scss' as *;

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $primary-color;
    margin: 36px;
    font-size: 48px;
}

.subtitle-1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 12px;
}

.pdf-text {
    color: white;
    background-color: $primary-color;
    padding: 8px;
    border-radius: 6px;
}

.pdf-upload-container {
    display: flex;
    justify-content: center;
}

.summary-container {
    display: flex;
    justify-content: center;
}

.error-message-container {
    display: flex;
    justify-content: center;
    width: 780px;
    margin: 0 auto;
}

.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: red;
    padding: 12px;
    border-radius: 4px;
    width: 78%;
    background-color: #ffe9e9;
}