$primary-color: #ff8163;
$primary-color-hover: #ff9479;
$primary-color-bg: #fff9f7;
$border-primary: #ffe4dd;
$secondary-color-bg: rgb(255, 246, 237);
$box-shadow-primary: 0 4px 8px 0 rgba(239, 148, 255, 0.2), 0 6px 20px 0 rgba(237, 180, 245, 0.19);
$box-shadow-secondary: rgba(0, 0, 0, 0.05) 0px 1px 4px 0px;